body {
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

h1 {
  margin-bottom: 0px;
  margin-top: 50px;
  font-family: 'Sacramento', cursive;
  font-size: 63px;
  color: #E9EFC0;
}

.intro {
  width: 30%;
  margin: auto;
}

p {
  color: #99A799;
  line-height: 2;
}

hr {
  border: dotted #FEF5ED 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #E9EFC0;
  padding-bottom: 10px;
  line-height: 1.5;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #D8CCA3;
}

a {
  color: #D8CCA3;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

.copy {
  color: #D8CCA3;
  font-size: 0.75rem;
  padding: 20px 0;
}

.skills {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.top-container {
  background-color: #041C32;
  position: relative;
  padding-top: 100px;
  font-size: 10px;
}

.computer {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.middle-section {
padding: 100px auto;
background-color: #04293A;
}

.bottom-section {
  background-color: #041C32;
  padding: 50px 0 20px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.con {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #10bbe6;
  background-image: -webkit-linear-gradient(top, #10bbe6, #52bdff);
  background-image: -moz-linear-gradient(top, #10bbe6, #52bdff);
  background-image: -ms-linear-gradient(top, #10bbe6, #52bdff);
  background-image: -o-linear-gradient(top, #10bbe6, #52bdff);
  background-image: linear-gradient(to bottom, #10bbe6, #52bdff);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #10bbe6;
  background-image: -webkit-linear-gradient(top, #10bbe6, #f7db6b);
  background-image: -moz-linear-gradient(top, #10bbe6, #f7db6b);
  background-image: -ms-linear-gradient(top, #10bbe6, #f7db6b);
  background-image: -o-linear-gradient(top, #10bbe6, #f7db6b);
  background-image: linear-gradient(to bottom, #10bbe6, #f7db6b);
  text-decoration: none;
}
